# Database Configuration
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=personal_notes
DB_HOST=localhost
DB_PORT=5432

# Database URL (untuk Prisma)
DATABASE_URL=postgresql://DB_USER:DB_PASSWORD@DB_HOST:DB_PORT/DB_NAME
